<div class="container">
    <div class="jumbotron text-center my-5">
        <h1 class="display-2">Welcome.</h1>
        <h3 class="my-3">This is yet another Express Boilerplate</h3>
    </div>

    <div class="jumbotron">
        <h3 class="font-weight-bold">Boilerplate Features</h3>
        <ul class="list-group">
            <li class="list-group-item">Model-View-Controller architecture.</li>
            <li class="list-group-item">User Authentication using Passport and a Local-Strategy.</li>
            <li class="list-group-item">MongoDB connection using Mongoose.</li>
            <li class="list-group-item">SCSS-support with Node-sass and automatic compiling.</li>
            <li class="list-group-item">Handlebars view engine using Express-Handlebars.</li>
            <li class="list-group-item">Winston Logging.</li>
            <li class="list-group-item">Flash Messages.</li>
        </ul>
    </div>
</div>