<div class="container">
    <div class="jumbotron my-5">
        <h2 class="mb-5">Hello, {{session.passport.user.username}}</h2>
        <h4>This is an example of a user dashboard.</h4>
    </div>
</div>